@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/BarlowCondensedFont.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  padding-top: 50px;
}

.companies-list {
  text-align: left;
}

.companies-list > li {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
}

.inline {
  display: inline;
}

.loading {
  visibility: hidden;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(44, 159, 212);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.4s ease infinite;
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color          : inherit;
  text-decoration: inherit;
}

@media (max-width: 768px) {
  .img-sostituzioni {
    float: none;
    width:490px;
    height:auto;
    margin:0px 0 0 0;
    border-radius: 6px;
    padding: 0px;
  }

  body {
    padding-top: 110px;
  }

  .google-maps {
    padding-left : 20px;
    padding-right: 20px;
  }

  #contact-button::after {
    content: none;
  }

  #contact-button i {
    display: block;
  }

  .header-container {
    padding: 15px 0 0 0;
  }
}

.img-sostituzioni {
  float:right;
  width:490px;
  height:auto;
  margin:6px 0 0 0;
  border-radius: 12px;
  padding: 7px;
}


.iso-tag {
  width: 220px;
}

.iso-tag-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


header {
  background: rgb(255, 255, 255);
  z-index   : 10;
}

#header-title {
  font-family: 'Barlow Condensed';
  font-size  : 45px;
}

@media (min-width: 768px) {
  #contact-button::after {
    content: "Contatti";
  }

  #contact-button i {
    display: none;
  }

  #header-title {
    font-size: 40px;
  }

  .header-container {
    padding: 15px 0 15px 0;
  }
}

.article {
  display   : flexbox;
  text-align: center;
  margin-top: 100px;
}

.article p {
  text-align: left;
}

.navbar>ul {
  padding-right: 0.5em;
}

.copyright {
  background-color: rgb(44, 159, 212);
}

#footer {
  margin-top         : 100px;
  background-color   : rgb(95, 183, 218);
  /*
  background         : url("https://pixabay.com/get/g915b5f9985fd9c526a85218f3be4f92e29da1f1de51510f5e589728152ca9ceef30e08a5d38a66fac4f3b7fa856af6d1_1280.jpg");
  */
  background-size    : cover;
  background-position: bottom;
  color              : white;
  display            : flexbox;
}

div .img {
  border: 2px solid white;
  float : left;
  margin: 10px;
  width : 100px;
  height: 100px;
}

.google-maps {
  position      : relative;
  padding-bottom: 56.25%;
  overflow      : hidden;
  border-radius : 13px;
}

.google-maps>iframe {
  position: absolute;
  top     : 0;
  left    : 0;
  height  : 100%;
  width   : 100%;
}

#footer-list {
  padding-left   : 0px;
  list-style-type: none;
}

#footer-list>li {
  display              : grid;
  grid-template-columns: 30px auto;
  justify-content      : flex-start;
  align-items          : center;
}

#footer-list li::before {
  content: ">";
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 95% !important;
  }
}

.error-container {
  margin       : 30px auto;
  width        : auto;
  margin: 330px 0;
  padding-bottom: 150px;
  text-align: center;
  /* background: rgba(3, 63, 131, 0.151); */
}