
<div id="footer" class="text-lg-start">
    <div class="container text-left py-4 px-4">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-5">
                <h2 class="mb-3">Major Techno Service</h2>
                <p> M.T.S. subentra nell'intera attività di G.P.S. di Botti Roberto (Leader da più di trent'anni nel settore) che  trasferisce, a decorrere dal 01/07/2021, l'azienda alla Società Major Techno Service s.r.l.s.<a class="p-2 link-unstyled" href="../../pages/chi-siamo/">Continua a leggere...</a>
                </p>
                <h4>Link utili</h4>
                <ul id="footer-list">
                    <li><a class="link-unstyled" href="https://www.acque.net/">Acque.net</a></li>
                    <li><a class="link-unstyled" href="/../../pages/note-legali">Note Legali</a></li>
                </ul>
            </div>
        
            <div class="col-12 col-md-9 col-lg-7">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5"> 
                        <div class="mb-4">
                            <span style="display: block;" >
                                <i class="bi bi-telephone" style="font-size: 2rem;"></i>
                                <h3 style="display: inline">Contatti</h3>
                            </span>  
                            <span style="display: block;">
                                <p class="mb-1">Lun - Ven:<br>
                                8:30 - 13:30 e 14:30 - 18:30</p>
                                <i class="bi bi-envelope"></i>
                                <p style="display: inline;">email: <a style="font-weight: bold;" class="link-unstyled" href= "mailto:info@mts2021.it">info@mts2021.it</a></p>
                            </span>  
                            <span style="display: block;">
                            <i class="bi bi-envelope"></i>
                            <p style="display: inline;">PEC: majortechnoservice@pec.it</p>
                            </span>
                            <span style="display: block;">
                                <i class="bi bi-telephone-inbound"></i>
                                <p style="display: inline">tel: 
                                <span itemprop="telephone">
                                    <a href="tel:+390587670004" class="link-unstyled" >
                                    0587670004
                                </a>
                                </span>
                                </p>
                            </span>  
                            <span style="display: block;">
                                <i class="bi bi-printer"></i>
                                <p style="display: inline">fax: 0587755823</p>
                            </span>  
                        </div>
            
                        <div class="mb-4">
                            <span style="display: block;" >
                                <i class="bi bi-geo-alt" style="font-size: 2rem;"></i>
                                <h3 style="display: inline">Dove siamo</h3>
                            </span>  
                            <p>                
                                Major Techno Service<br>
                                Via Giacomo Puccini, 4<br>
                                56031 - Bientina (PI)<br>
                                <a href="https://goo.gl/maps/xDe8Gznusmxp83KR7" class="link-unstyled" target="_blank" >Ottieni Indicazioni</a>
                            </p>
                        </div>
                    </div>           
                    <div class="col-11 col-md-7 google-maps">
                        <iframe src="https://maps.google.com/maps?q=via%20giacomo%20puccini%204,%20bientina%20PI%20&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 copyright">
        &copy;
        <span id="year">2023</span>
         Copyright:
        <a class="text-white" href="/../../index.html">Major Techno Service s.r.l.s.</a>
         | 
        <a class="text-white" href="/../../pages/note-legali">Note Legali</a> 
         | 
         <a class="text-white" href="/../../pages/cookie">Cookie policy</a>
    </div>
</div>    