<header class="bg-white border-bottom shadow navbar navbar-expand-lg fixed-top">
    <div class="container d-flex flex-column flex-md-row justify-content-around header-container">
        <a id="header-title" class="display-6 link-unstyled" href="../../">Major Techno Service
        </a>
        <nav class="my-2 my-md-0 mr-md-3 ">
            <div class="navbar">
                <a class="p-2 text-dark link-unstyled" href="../../">Home</a>
                <a class="p-2 text-dark link-unstyled" href="../../pages/chi-siamo/">Chi Siamo</a>
                <a class="p-2 text-dark link-unstyled" href="../../pages/recruitment/">Lavora con noi</a>
                <ul class="p-2 navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-unstyled" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Servizi</a>
                        <ul class="position-absolute dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" >
                            <li><a class="dropdown-item" href="../../pages/letture/">Letture</a></li>
                            <li><a class="dropdown-item" href="../..//pages/sostituzioni/">Sostituzioni</a></li>
                        </ul>
                    </li>
                </ul>
                <a id="contact-button" class="btn btn-outline-primary" href="#footer"><i class="bi bi-telephone"></i></a>
                </div>
        </nav>
    </div>
</header>